.container {
  position: relative;
  z-index: 1;
  max-width: 1160px;
  margin: 0 auto;
  padding: 0 32px;
}

@media (max-width: 860px) {
  .container {
    padding: 0 24px;
  }
}

@media (max-width: 640px) {
  .container {
    padding: 0 16px;
  }
}
